.basicPadding{
    padding-left: 0px;
    padding-right: 0px;
}
.navBarRow{
    height: 100px;
}
.coverImage{
    width:100%;
    height: 400px;object-fit: fill;
}
.radios{
    font-size: 20px;
    padding: 5px;
    border: 1px solid rgb(11, 11, 11);
    color: rgb(11, 11, 11);
    margin: 10px;
}
b{
    font-weight: 900;
}
.socialImages{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 1px;
    border-radius: 10px;
    
}

.socialContainer{
   padding-left: 90%;
    margin-top: -250px;
}
.followUs{
    font-weight: 700;
    font-size: medium;
}
.hrs{
    width: 40%;
    border: 0.5px solid black;
}
.footerLeft{
    margin-top: 4%;
    padding-left: 3%;
    letter-spacing: 1px;
}
.bgColor{
    background-color: rgb(251,188,4);
}
.bgColor2{
    background-color: rgb(225, 236, 236);
}
#headingSetting{
text-align: center;margin-top: 3%;padding-bottom: 3%;
}
.headingContent{
    font-family: fantasy;font-weight: 1000;letter-spacing: 5px;font-size: 1em;
}
#hr1{
  border-top: 4px double;
  width:40% ;
  margin-left: 30%;
  margin-top: 0.1%;
}
#subHeading{
   
    margin-top: -4%; 
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing:3px ;
}
#seconds{
    margin-left: 2%;margin-bottom:3%
}
.row{
   --bs-gutter-x: 0; 
    
}
.radios:hover{
    background-color:rgb(188, 219, 219);
}
.floater{
    float: right;
}
.radioBoxes{
    width:80%
}
.radioBoxes2{
    width:80%
}
.selectButton2{
    height: 50px;
    width:77% ;
    background-color: rgb(27, 26, 26);
    border: none;
    margin-left: 1.6%;
    margin-top: 6%;
    color: white;
    font-size: 22px
}
.selectButton1{
    margin-top: 6%;
    width: 77%;
}
.btnHover:hover{
    background-color: rgb(50, 47, 47);

}
.tenSecHeading{
    margin-left: 5%;

}

.option1Box{
   
    background-color: rgb(225, 236, 236);
    border-right: 1px solid rgb(179, 170, 170);
    padding-left: 10%;
    padding-top: 15px;
    
    }
   
.option2Box{
    padding-top: 10px;
    background-color: rgb(225, 236, 236);
    padding-bottom: 60px;
    padding-left: 9%;
    
}

